<!-- <p-progressSpinner *ngIf="!tokenService.loaded"></p-progressSpinner> -->
<header id="header" class="sticky-header {{headerStyle}}" *ngIf="tokenService.loaded">

  <!-- top-header -->

  <div class="top-header">

    <!-- logo -->

    <div class="logo-wrap">

      <a routerLink="/" class="logo"><img src="assets/images/logo2.png" alt=""></a>

    </div>

    <!--main menu-->

    <div class="menu-holder">
      
      <div class="menu-wrap">

        <div class="nav-item">
          
          <!-- - - - - - - - - - - - - - Navigation - - - - - - - - - - - - - - - - -->
          
          <nav id="main-navigation" class="main-navigation">
            <ul id="menu" class="clearfix">
              <li class="dropdown current"><a routerLink="/">Home</a>
                <!--sub menu-->
                <div class="sub-menu-wrap">
                  <ul>
                    <li class="current sub"><a href="#">Home Layouts</a>
                      <!--sub menu-->
                      <div class="sub-menu-wrap sub-menu-inner">
                        <ul>
                          <li class="current"><a href="index.html">Candidate Layout 1</a></li>
                          <li><a routerLink="/about">Candidate Layout 2</a></li>
                          <li><a href="home_3.html">Party Layout 1</a></li>
                          <li><a href="home_4.html">Party Layout 2</a></li>
                        </ul>
                      </div>
                    </li>
                    <li class="sub"><a href="#">Header Layouts</a>
                      <!--sub menu-->
                      <div class="sub-menu-wrap sub-menu-inner">
                        <ul>
                          <li><a href="index.html">Candidate Layout 1</a></li>
                          <li><a href="home_2.html">Candidate Layout 2</a></li>
                          <li><a href="home_3.html">Party Layout 1</a></li>
                          <li><a href="home_4.html">Party Layout 2</a></li>
                        </ul>
                      </div>
                    </li>
                    <li class="sub"><a href="#">Footer Layouts</a>
                      <!--sub menu-->
                      <div class="sub-menu-wrap sub-menu-inner">
                        <ul>
                          <li><a href="index.html">Candidate Layout 1</a></li>
                          <li><a href="home_2.html">Candidate Layout 2</a></li>
                          <li><a href="home_3.html">Party Layout 1</a></li>
                          <li><a href="home_4.html">Party Layout 2</a></li>
                        </ul>
                      </div>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="dropdown"><a href="#">Pages</a>
                <!--sub menu-->
                <div class="sub-menu-wrap">
                  <ul>
                    <li class="dropdown sub"><a href="#">About Us</a>
                      <!--sub menu-->
                      <div class="sub-menu-wrap sub-menu-inner">
                        <ul>
                          <li><a href="about_adam.html">Meet Adam</a></li>
                          <li><a href="about_linda.html">Meet Linda</a></li>
                          <li><a href="about_party.html">Our Party</a></li>
                        </ul>
                      </div>
                    </li>
                    <li><a href="issues.html">Issues</a></li>
                    <li><a href="endorsements.html">Endorsements</a></li>
                    <li><a href="get_involved.html">Get Involved</a></li>
                    <li><a href="landing.html">Landing Page</a></li>
                    <li><a href="contact.html">Contact</a></li>
                    <li><a href="404_page.html">404 Page</a></li>
                    <li><a href="coming_soon.html">Coming Soon Page</a></li>
                  </ul>
                </div>
              </li>
              <li class="dropdown"><a href="#">Events</a>
                <!--sub menu-->
                <div class="sub-menu-wrap">
                  <ul>
                    <li><a href="event_map.html">Events List With Map</a></li>
                    <li><a href="event_month.html">Events By Month</a></li>
                    <li><a href="event_masonry.html">Events Masonry</a></li>
                    <li><a href="event_single.html">Single Event Post</a></li>
                  </ul>
                </div>
              </li>
              <li class="dropdown"><a href="#">Media</a>
                <!--sub menu-->
                <div class="sub-menu-wrap">
                  <ul>
                    <li class="dropdown"><a href="#">Sortable Grid  Portfolio</a>
                      <!--sub menu-->
                      <div class="sub-menu-wrap sub-menu-inner">
                        <ul>
                          <li><a href="media_sort_2_cols.html">2 Columns With Description</a></li>
                          <li><a href="media_sort_3_cols.html">3 Columns</a></li>
                          <li><a href="media_sort_4_cols.html">4 Columns Full Width</a></li>
                        </ul>
                      </div>
                    </li>
                    <li><a href="media_grid_gallery.html">Grid Gallery</a></li>
                    <li><a href="media_flickr_gallery.html">Flickr Gallery</a></li>
                    <li><a href="media_instagram_gallery.html">Instagram Gallery</a></li>
                    <li><a href="media_video_gallery.html">Youtube/Vimeo Gallery</a></li>
                    <li><a href="media_single_post.html">Single Portfolio Post</a></li>
                  </ul>
                </div>
              </li>
              <li class="dropdown"><a href="#">Features</a>
                <!--sub menu-->
                <div class="sub-menu-wrap">
                  <ul>
                    <li><a href="shortcodes.html">Shortcodes</a></li>
                    <li><a href="typography.html">Typography</a></li>
                    <li><a href="columns.html">Columns</a></li>
                    <li><a href="./rtl/index.html">RTL Version</a></li>
                  </ul>
                </div>
              </li>
              <li class="dropdown"><a href="#">News</a>
                <!--sub menu-->
                <div class="sub-menu-wrap">
                  <ul>
                    <li><a href="news_sidebar.html">News With Sidebar</a></li>
                    <li><a href="news_2_cols.html">News - 2 Columns</a></li>
                    <li><a href="news_single.html">Single Blog Post</a></li>
                  </ul>
                </div>
              </li>
              <li class="dropdown"><a href="#">Shop</a>
                <!--sub menu-->
                <div class="sub-menu-wrap">
                  <ul>
                    <li><a href="category_page.html">Category Page</a></li>
                    <li><a href="category_page_sidebar.html">Category Page With Sidebar</a></li>
                    <li><a href="product_page.html">Product Page</a></li>
                    <li><a href="shop_cart.html">Cart</a></li>
                    <li><a href="checkout.html">Checkout</a></li>
                    <li><a href="my_account.html">My Account</a></li>
                  </ul>
                </div>
              </li>
            </ul>
          </nav>

          <!-- - - - - - - - - - - - - end Navigation - - - - - - - - - - - - - - - -->

          <a href="#" class="btn btn-style-6 btn-big">Donate</a>

        </div>

      </div>

    </div>

  </div>
  
</header>