<footer id="footer" class="footer" *ngIf="tokenService.loaded">
  <hohn-newsletter></hohn-newsletter>
  <div class="main-footer">

    <div class="container">

      <div class="row">
        <div class="col-sm-4">

          <div class="widget">

            <a href="#" class="logo"><img src="assets/images/hohn_logo_2.png" alt=""></a>
            <p>Hohn Krisztina országgyűlési képviselő <br>
              Széchenyi rkp. 19. Budapest 1358</p>
            <p>Telefon: <span>(+36) 1 / 782 7120 (10-16 óráig)</span> <br>
            E-mail: <a href="mailto:#" class="link-text">info@hohn.hu</a></p>
<!--            <a href="#" class="link-text">Adatvédelmi irányelvek</a>-->

          </div>

        </div>
        <div class="col-sm-2">

          <div class="widget">

            <h6 class="widget-title">Gyors linkek</h6>

            <ul class="info-links">

              <li><a routerLink="/about">Bemutatkozás</a></li>
              <li><a routerLink="/news">Hírek</a></li>
<!--              <li><a href="#">Célok</a></li>-->
<!--              <li><a href="#">Galéria</a></li>-->
              <li><a routerLink="/event">Események</a></li>
<!--              <li><a href="#">Sajtómegjelenés</a></li>-->
              <li><a routerLink="/contact">Kapcsolat</a></li>

            </ul>

          </div>

        </div>
        <div class="col-sm-3">
          <div class="widget">
            <img src="assets/images/site/UK_logo.png" alt="">
          </div>
        </div>

<!--        <div class="col-sm-3">-->
<!--          <div class="widget">-->
<!--            <img src="assets/images/site/LMP_logo.png" alt="">-->
<!--          </div>-->
<!--        </div>-->


      </div>

    </div>

  </div>

</footer>
