<footer id="footer" class="footer">

  <div class="call-out join-us">
    
    <div class="container">

      <div class="row flex-row">
        <div class="col-md-8">
          
          <div class="bg-col-1">
            <h5>Join Our Team</h5>
            <form id="newsletter" class="join-form">
              <button type="submit" class="btn btn-style-4 btn-big f-right" data-type="submit">Sign Up</button>
              <div class="input-holder">
                <input type="email" name="newsletter-email" placeholder="Email address">
                <input type="text" placeholder="Zip code">
              </div>
            </form>
          </div>

        </div>
        <a href="#" class="col-md-4">
          
          <div class="bg-col-2">
            <div class="align-center">
              <h5>Donate Today!</h5>
            </div>
          </div>

        </a>
      </div>

    </div>

  </div>

  <div class="main-footer">
    
    <div class="container">
    
      <div class="row">
        <div class="col-sm-4">
          
          <div class="widget">
            
            <a href="#" class="logo"><img src="assets/images/logo2.png" alt=""></a>
            <p>Adam Russell for Congress <br>
            PO Box 3740, Austin, TX, 78741</p>
            <p>Phone: <span>(932) 733-3390</span> <br>
            E-mail: <a href="mailto:#" class="link-text">info@adamrussell.com</a></p>
            <a href="#" class="link-text">Privacy Policy</a>

          </div>

        </div>
        <div class="col-sm-4">
          
          <div class="widget">
            
            <h6 class="widget-title">Quick Links</h6>

            <ul class="info-links">
                    
              <li><a href="#">Meet Adam</a></li>
              <li><a href="#">Issues</a></li>
              <li><a href="#">Our Team</a></li>
              <li><a href="#">Get Involved</a></li>
              <li><a href="#">Events</a></li>
              <li><a href="#">Media</a></li>
              <li><a href="#">News</a></li>

            </ul>

          </div>

        </div>
        <div class="col-sm-4">
          
          <div class="widget">
            
            <h6 class="widget-title">Connect With Adam</h6>

            <ul class="social-icons">

              <li><a href="#"><i class="icon-facebook"></i></a></li>
              <li><a href="#"><i class="icon-twitter"></i></a></li>
              <li><a href="#"><i class="icon-instagram-5"></i></a></li>
              <li><a href="#"><i class="icon-youtube-play"></i></a></li>
              <li><a href="#"><i class="icon-flickr"></i></a></li>
              <li><a href="#"><i class="icon-snapchat-ghost"></i></a></li>

            </ul>

          </div>

          <div class="widget">
            
            <div class="copyright">
              
              <div class="paid-by">Paid for by Friends of Adam Russell</div>
              <p>Copyright © 2017 Adam Russell for Congress. <br> All Rights Reserved.</p>

            </div>

          </div>

        </div>
      </div>

    </div>
    
  </div>

</footer>