<nav id="main-navigation" class="main-navigation">
  <ul id="menu" class="clearfix">
    <li *ngFor="let item of menuItems" class="dropdown"><a [routerLink]="item.url" [fragment]="!!item.fragment ? item.fragment : null"><span class="main-nav-text">{{item.label}}</span></a>
      <div *ngIf="item.items" class="sub-menu-wrap">
        <ul>
          <li *ngFor="let subitem of item.items" [ngClass]="subitem.items ? 'sub' : ''"><a [routerLink]="subitem.url" [fragment]="!!subitem.fragment ? subitem.fragment : null">{{subitem.label}}</a>
            <div *ngIf="subitem.items" class="sub-menu-wrap sub-menu-inner">
              <ul>
                <li *ngFor="let subsubitem of subitem.items" [ngClass]="subsubitem.items ? 'sub' : ''"><a [routerLink]="subsubitem.url">{{subsubitem.label}}</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</nav>
