<div class="call-out join-us">
  <div class="container">
    <div class="row flex-row">
      <div class="col-md-8">
        <div class="bg-col-1">
          <h5>Hírlevél</h5>
          <form id="newsletter" class="join-form">
            <button type="submit" class="btn btn-style-4 btn-big f-right" data-type="submit">Feliratkozom</button>
            <div class="input-holder">
              <input type="email" name="newsletter-email" placeholder="Email cím">
              <input type="text" placeholder="Irányítószám">
            </div>
          </form>
        </div>
      </div>
      <a href="#" class="col-md-4">
        <div class="bg-col-2">
          <div class="align-center">
            <h5>Támogatás</h5>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
