<div class="widget widget-holder">
            
  <div class="widget-twitter two-tweet">

    <h5 class="wt-title">From Twitter</h5>
    
    <div id="twitter" class="twitter" data-twitter-items="2"></div>

    <a href="#" class="info-btn">Follow Adam on Twitter</a>
    
  </div>

</div>

<p-dropdown
    [style]="{'width':'100%'}"
    [options]="ddMock"
    [(ngModel)]="selectedMock"
    placeholder="Válasszon"
    [filter]=true
    (onChange)="change()"
    optionLabel="label"
>
<ng-template let-car2 pTemplate="item">
  <div [pTooltip]="test(car2.value)"> 

      <li><span>{{car2.value.label}}, {{car2.value.desc}}</span>
        </li> 
  </div>
  </ng-template>    
</p-dropdown>