<div class="action-widget action-col-4 pull-top">

  <div class="container">

    <!-- action-item -->

    <div class="action-col">
      <a href="assets/pdf/tarsadalmi-szerzodes.pdf" class="action-item tsz">
        <img src="assets/images/site/tsz.jpg" alt="Társadalmi szerződés">
      </a>

    </div>


    <div class="action-col">

      <a routerLink="/news/all" class="action-item register">
        <i class="fa fa-newspaper-o"></i>
        <h5 class="action-title">Hírek</h5>
        <p>Legfrissebb hírek és információk</p>
      </a>

    </div>

    <!-- action-item -->
    <!--
        <div class="action-col">

          <a routerLink="/event" class="action-item event">
            <i class="icon icon-basic-calendar"></i>
            <h5 class="action-title">Eseménynaptár</h5>
            <p>Közeledő esemyények</p>
          </a>

      <a routerLink="/event" class="action-item tsz">
        <img src="assets/images/site/tsz.jpg" alt="">
      </a>

    </div>
    -->
    <!-- action-item -->

    <div class="action-col">

      <a href="{{facebookUrl}}" class="action-item get-involved">
<!--        <i class="icon icon-ecommerce-megaphone"></i>-->
        <i class="fa fa-facebook"></i>
        <h5 class="action-title">Facebook</h5>
        <p>Hohn Krisztina Facebook oldala</p>
      </a>

    </div>

    <!-- action-item -->

    <div class="action-col">

      <a href="{{youtubeChannelUrl}}" class="action-item donate">
<!--        <i class="icon-ecommerce-banknotes"></i>-->
        <i class="fa fa-youtube"></i>
        <h5 class="action-title">YouTube</h5>
        <p>Hohn Krisztina csatornája</p>
      </a>

    </div>

  </div>

</div>
