<div class="action-widget action-col-4 pull-top">

  <div class="container">

    <!-- action-item -->

    <div class="action-col">

      <a href="#" class="action-item register">
        <i class="icon icon-basic-todo-txt"></i>
        <h5 class="action-title">Register to vote</h5>
        <p>Submit your application</p>
      </a>

    </div>

    <!-- action-item -->

    <div class="action-col">

      <a href="#" class="action-item event">
        <i class="icon icon-basic-calendar"></i>
        <h5 class="action-title">Attend Events</h5>
        <p>Find events near you</p>
      </a>

    </div>

    <!-- action-item -->

    <div class="action-col">

      <a href="#" class="action-item get-involved">
        <i class="icon icon-ecommerce-megaphone"></i>
        <h5 class="action-title">Get Involved</h5>
        <p>Become a volunteer</p>
      </a>

    </div>

    <!-- action-item -->

    <div class="action-col">

      <a href="#" class="action-item donate">
        <i class="icon-ecommerce-banknotes"></i>
        <h5 class="action-title">Donate Today</h5>
        <p>Support our candidate</p>
      </a>

    </div>

  </div>

</div>
