.secnews {
  background-image: url('../../assets/images/news/20181130_kiemelt.jpg');
  background-size: cover;
  height: 100%;
}

iframe.lightwidget-widget {
  margin-top: -40px;
}

.widget-holder [class*="widget-"]:not(.tabs) {
  padding-bottom: 10px;
}

.widget-holder .entry-date {
  color: white;
  text-shadow: 2px 2px 3px #000000;
}

.widget-holder .entry h6,
.widget-holder .entry .entry-title a,
.widget-holder .info-btn {
  text-shadow: 2px 2px 3px #000000;
}

.widget-holder .entry .thumbnail-attachment img {
  filter: brightness(90%);
}
