<h2 class="section-title align-center">Hírek és események</h2>
<div class="widget-holder">

  <div class="row flex-row">
    <div class="col-md-6">

      <article class="entry">

        <!-- - - - - - - - - - - - - - Attachment - - - - - - - - - - - - - - - - -->

        <div class="entry-attachment">

          <figure class="thumbnail-attachment"><img [src]="news1.kepMainUrl" alt=""></figure>

        </div>

        <!-- - - - - - - - - - - - - - End of Attachment - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Entry body - - - - - - - - - - - - - - - - -->

        <div class="entry-body">

          <h6>Legfrissebb hírek</h6>

          <h4 class="entry-title"><a href="#">{{news1.cim}}</a></h4>

          <!-- - - - - - - - - - - - - - Entry Meta - - - - - - - - - - - - - - - - -->

          <div class="entry-meta">

            <time class="entry-date">{{news1.datum.toLocaleDateString()}}</time>

          </div>

          <!-- - - - - - - - - - - - - - End of Meta - - - - - - - - - - - - - - - - -->

          <!-- - - - - - - - - - - - - - Entry Excerpt - - - - - - - - - - - - - - - - -->

          <a href="#" class="info-btn">Tovább a hírre...</a>

          <!-- - - - - - - - - - - - - - End of Entry Excerpt - - - - - - - - - - - - - - - - -->

        </div>

        <!-- - - - - - - - - - - - - - End of Entry body - - - - - - - - - - - - - - - - -->

      </article>

    </div>
    <div class="col-md-3">

      <article class="entry">

        <!-- - - - - - - - - - - - - - Attachment - - - - - - - - - - - - - - - - -->

        <div class="entry-attachment">

          <figure class="thumbnail-attachment"><img [src]="news2.kepSecUrl" alt=""></figure>

        </div>

        <!-- - - - - - - - - - - - - - End of Attachment - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Entry body - - - - - - - - - - - - - - - - -->

        <div class="entry-body">


          <h5 class="entry-title"><a href="#">{{news2.cim}}</a></h5>

          <!-- - - - - - - - - - - - - - Entry Meta - - - - - - - - - - - - - - - - -->

          <div class="entry-meta">

            <time class="entry-date">{{news2.datum.toLocaleDateString()}}</time>

          </div>

          <!-- - - - - - - - - - - - - - End of Meta - - - - - - - - - - - - - - - - -->

          <!-- - - - - - - - - - - - - - Entry Excerpt - - - - - - - - - - - - - - - - -->

          <a href="#" class="info-btn">Tovább a hírre...</a>

          <!-- - - - - - - - - - - - - - End of Entry Excerpt - - - - - - - - - - - - - - - - -->

        </div>

        <!-- - - - - - - - - - - - - - End of Entry body - - - - - - - - - - - - - - - - -->

      </article>

<!--      <div class="secnews">-->

<!--        <h6 class="entry-title"><a href="#">jsehwj</a></h6>-->

<!--        <a href="#" class="info-btn">Follow Adam on Twitter</a>-->

<!--      </div>-->

    </div>
    <div class="col-md-3">

<!--      <div class="widget-fb">-->

<!--        <header></header>-->

<!--        <p>Baranya megyéről a "Magyar Falu Program" kapcsán beszéltem a Tisztelet Házban. Kérem tekintsék meg.</p>-->

<!--        &lt;!&ndash; - - - - - - - - - - - - - Entry Meta - - - - - - - - - - - - - - - - &ndash;&gt;-->

<!--        <div class="entry-meta">-->

<!--          <time class="entry-date" datetime="2019-11-09">2019. november 9.</time>-->

<!--        </div>-->

<!--        &lt;!&ndash; - - - - - - - - - - - - - End of Meta - - - - - - - - - - - - - - - - &ndash;&gt;-->

<!--        <div class="slash-list">-->
<!--          <a href="#">Ugrás a posztra </a>-->
<!--          <a href="#">Megosztás </a>-->
<!--        </div>-->

<!--        <a href="#" class="info-btn">Kövessen a Facebookon</a>-->
<!--      </div>-->
      <div  class="fb-page" data-href="https://www.facebook.com/hohnkrisztina/" data-tabs="timeline" data-width="" data-height="374" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/hohnkrisztina/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/hohnkrisztina/">Hohn Krisztina</a></blockquote></div>

    </div>


  </div>
  <div class="row flex-row">
    <div class="col-md-4">

      <div class="widget-instagram">

        <header></header>
        <iframe
          [src]="instaURL(feedUrl)"
          scrolling="no"
          allowtransparency="true"
          class="lightwidget-widget"
          style="width:100%;border:0;overflow:hidden;"
        >
        </iframe>
<!--        <header></header>-->

<!--        <div class="carousel-type-2 type-2">-->
<!--          <div id="instafeed" class="instagram-carousel"></div>-->
<!--        </div>-->

        <a href="#" class="info-btn">Kövessen az Instagramon</a>

      </div>

    </div>
    <div class="col-md-4">

      <div class="widget-events">

        <h6 class="event-title">Közelgő események</h6>

        <div class="event-item">
          <div class="event-date">
            <div class="event-month">NOV</div>
            <div class="event-day">28</div>
          </div>
          <div class="event-info">
            <h6 class="event-link"><a href="#">Nyilvános vita a levegőtisztaság ügyében</a></h6>
            <div class="event-info-item"><i class="icon icon-location"></i>Bp, Széchenyi rkp. 19, 1358</div>
            <div class="event-info-item"><i class="icon icon-clock"></i>10:00 – 12:00</div>
          </div>
        </div>

        <div class="event-item">
          <div class="event-date">
            <div class="event-month">DEC</div>
            <div class="event-day">10</div>
          </div>
          <div class="event-info">
            <h6 class="event-link"><a href="#">Jótékonysági est</a></h6>
            <div class="event-info-item"><i class="icon icon-location"></i>Bp, Komor Marcell u. 1, 1095</div>
            <div class="event-info-item"><i class="icon icon-clock"></i>18:00 – 22:30</div>
          </div>
        </div>

        <a href="#" class="info-btn">További események</a>

      </div>

    </div>
    <div class="col-md-4">

      <div class="widget-youtube">

        <header></header>

        <div class="responsive-iframe">

          <iframe [src]="videoUrl"></iframe>

        </div>

        <a href="https://www.youtube.com/channel/UCiZxXJriE8eP485Ut9AdAxA" class="info-btn">Összes videó megtekintése</a>

      </div>

    </div>
  </div>

</div>
