<h2 class="section-title align-center">Hírek és események</h2>
<div class="widget-holder">

  <div class="row flex-row">
    <div class="col-md-6">

      <article class="entry">

        <!-- - - - - - - - - - - - - - Attachment - - - - - - - - - - - - - - - - -->

        <div class="entry-attachment">

          <figure class="thumbnail-attachment"><img [src]="news1.kepMainUrl" alt=""></figure>

        </div>

        <!-- - - - - - - - - - - - - - End of Attachment - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Entry body - - - - - - - - - - - - - - - - -->

        <div class="entry-body">

          <h6>Legfrissebb hírek</h6>

          <h4 class="entry-title"><a routerLink="/content/{{news1.id}}">{{news1.cim}}</a></h4>

          <!-- - - - - - - - - - - - - - Entry Meta - - - - - - - - - - - - - - - - -->

          <div class="entry-meta">

            <time class="entry-date">{{news1.datum.toLocaleDateString()}}</time>

          </div>

          <!-- - - - - - - - - - - - - - End of Meta - - - - - - - - - - - - - - - - -->

          <!-- - - - - - - - - - - - - - Entry Excerpt - - - - - - - - - - - - - - - - -->

          <a routerLink="/content/{{news1.id}}" class="info-btn">Tovább a hírre...</a>

          <!-- - - - - - - - - - - - - - End of Entry Excerpt - - - - - - - - - - - - - - - - -->

        </div>

        <!-- - - - - - - - - - - - - - End of Entry body - - - - - - - - - - - - - - - - -->

      </article>

    </div>
    <div class="col-md-3">

      <article class="entry">

        <!-- - - - - - - - - - - - - - Attachment - - - - - - - - - - - - - - - - -->

        <div class="entry-attachment">

          <figure class="thumbnail-attachment"><img [src]="news2.kepSecUrl" alt=""></figure>

        </div>

        <!-- - - - - - - - - - - - - - End of Attachment - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Entry body - - - - - - - - - - - - - - - - -->

        <div class="entry-body">


          <h5 class="entry-title"><a routerLink="/content/{{news2.id}}">{{news2.cim}}</a></h5>

          <!-- - - - - - - - - - - - - - Entry Meta - - - - - - - - - - - - - - - - -->

          <div class="entry-meta">

            <time class="entry-date">{{news2.datum.toLocaleDateString()}}</time>

          </div>

          <!-- - - - - - - - - - - - - - End of Meta - - - - - - - - - - - - - - - - -->

          <!-- - - - - - - - - - - - - - Entry Excerpt - - - - - - - - - - - - - - - - -->

          <a routerLink="/content/{{news2.id}}" class="info-btn">Tovább a hírre...</a>

          <!-- - - - - - - - - - - - - - End of Entry Excerpt - - - - - - - - - - - - - - - - -->

        </div>

        <!-- - - - - - - - - - - - - - End of Entry body - - - - - - - - - - - - - - - - -->

      </article>

<!--      <div class="secnews">-->

<!--        <h6 class="entry-title"><a href="#">jsehwj</a></h6>-->

<!--        <a href="#" class="info-btn">Follow Adam on Twitter</a>-->

<!--      </div>-->

    </div>
    <div class="col-md-3">

<!--      <div class="widget-fb">-->

<!--        <header></header>-->

<!--        <p>Baranya megyéről a "Magyar Falu Program" kapcsán beszéltem a Tisztelet Házban. Kérem tekintsék meg.</p>-->

<!--        &lt;!&ndash; - - - - - - - - - - - - - Entry Meta - - - - - - - - - - - - - - - - &ndash;&gt;-->

<!--        <div class="entry-meta">-->

<!--          <time class="entry-date" datetime="2019-11-09">2019. november 9.</time>-->

<!--        </div>-->

<!--        &lt;!&ndash; - - - - - - - - - - - - - End of Meta - - - - - - - - - - - - - - - - &ndash;&gt;-->

<!--        <div class="slash-list">-->
<!--          <a href="#">Ugrás a posztra </a>-->
<!--          <a href="#">Megosztás </a>-->
<!--        </div>-->

<!--        <a href="#" class="info-btn">Kövessen a Facebookon</a>-->
<!--      </div>-->
      <hohn-facebook [isWidget]="false"></hohn-facebook>
    </div>


  </div>
  <div class="row flex-row">
    <div class="col-md-4">

      <div class="widget-instagram">

        <header></header>
        <iframe
          [src]="instaURL(feedUrl)"
          scrolling="no"
          allowtransparency="true"
          class="lightwidget-widget"
          style="width:100%;border:0;overflow:hidden;"
        >
        </iframe>
<!--        <header></header>-->

<!--        <div class="carousel-type-2 type-2">-->
<!--          <div id="instafeed" class="instagram-carousel"></div>-->
<!--        </div>-->

<!--        <a href="#" class="info-btn">Kövessen az Instagramon</a>-->

      </div>

    </div>
    <div class="col-md-4">

      <hohn-eventfeed></hohn-eventfeed>

    </div>
    <div class="col-md-4">

      <div class="widget-youtube">

        <header></header>

        <div class="responsive-iframe">

          <iframe [src]="videoUrl"></iframe>

        </div>

        <a href="https://www.youtube.com/channel/UCiZxXJriE8eP485Ut9AdAxA" class="info-btn">Összes videó megtekintése</a>

      </div>

    </div>
  </div>

</div>
