
  <!-- <div class="loader"></div> -->

  <!--cookie-->
  <!-- <div class="cookie">
          <div class="container">
            <div class="clearfix">
              <span>Please note this website requires cookies in order to function correctly, they do not store any specific information about you personally.</span>
              <div class="f-right"><a href="#" class="button button-type-3 button-orange">Accept Cookies</a><a href="#" class="button button-type-3 button-grey-light">Read More</a></div>
            </div>
          </div>
        </div>-->

  <!-- - - - - - - - - - - - - - Wrapper - - - - - - - - - - - - - - - - -->

  <!-- <div id="wrapper" class="wrapper-container"> -->

    <!-- - - - - - - - - - - - - Mobile Menu - - - - - - - - - - - - - - -->

    <!-- <nav id="mobile-advanced" class="mobile-advanced"></nav> -->

    <!-- - - - - - - - - - - - - - Header - - - - - - - - - - - - - - - - -->



    <!-- - - - - - - - - - - - - end Header - - - - - - - - - - - - - - - -->
    <div class="media-holder full-src hohnimg" *ngIf="tokenService.loaded">

      <div class="media-inner left-side intro">

        <h1>
          Szeretettel köszöntöm<br> honlapomon!
<!--          Together, We Will Move-->
<!--          <br>-->
<!--          <span>Texas Forward!</span>-->
        </h1>
        <br />
<!--        <p>Become a part of our team, sign up for updates.</p>-->
        <p style="text-align: left">" Legnagyobb cél pedig, itt, e földi létben,<br>
          Ember lenni mindég, minden körülményben. "</p>
        <p style="text-align: left">Arany János</p>

        <div *ngIf="isEnabledTestButton" class="align-center test-button">
          <p-button id="popupbut" label="Felugró ablak teszt" (onClick)="enablePopUp()"></p-button>
        </div>

<!--        <div class="join-us">-->
<!--          <p>Hírlevél</p>-->
<!--          <form class="join-form">-->
<!--            <button type="submit" class="btn btn-style-4 btn-big f-right" data-type="submit">Feliratkozom</button>-->
<!--            <div class="input-holder">-->
<!--              <input type="email" name="newsletter-email" placeholder="Email cím">-->
<!--              <input type="text" placeholder="Irányítószám">-->
<!--            </div>-->
<!--          </form>-->

<!--        </div>-->

      </div>

    </div>

    <!-- - - - - - - - - - - - - - Content - - - - - - - - - - - - - - - - -->



    <div id="content" *ngIf="tokenService.loaded">

      <!-- actions -->

      <hohn-action></hohn-action>


      <div id="stopvecsey" class="page-section">

        <div class="container">

          <div class="title-holder align-center">

            <a routerLink="/stopvecsey" routerLinkActive="active"><h2 class="section-title connect-title">Stop Orbán! Stop Vécsey!</h2></a>
            <p><em>Kattints a képre a petíciós űrlap kitöltéséhez!</em></p>
            <a routerLink="/stopvecsey" routerLinkActive="active"><img src="assets/images/site/stopvecsey_hohnweb-20.jpg" alt="Stop Orbán! Stop Vécsey!"></a>
          </div>
        </div>
      </div>

      <div id="tamogass" class="page-section">

        <div class="container">

          <div class="title-holder align-center">

            <h2 class="section-title connect-title" (click)="openTamogass()">Kérem, támogasson a választáson!</h2>
            <p><em>Kattints a képre a támogatói űrlap kitöltéséhez!</em></p>
            <img src="assets/images/site/LMP_OE_2022_Hohn_Krisztina_tamogass_01_1200px_x_675px.png" alt="Támogass az előválasztáson!" (click)="openTamogass()"><br />
<!--            <div class="szavazo-helyszinek">-->
<!--              <a href="assets/pdf/Szavazó sátrak helyszínei.pdf" class="action-item">Szavazó sátrak helyszínei és időpontok.</a>-->
<!--            </div>-->
          </div>
        </div>
      </div>



      <div id="aktivista" class="page-section">

        <div class="container">

          <div class="title-holder align-center">

            <h2 class="section-title connect-title" (click)="openAktivista()">Csatlakozz hozzánk!</h2>
            <p><em>Kattints a képre a csatlakozási űrlap kitöltéséhez!</em></p>
            <img src="assets/images/site/kriszta_aktivista.jpg" alt="Csatlakozz hozzánk!" (click)="openAktivista()">

          </div>
        </div>
      </div>


      <div id="hohnaction" class="page-section">

        <div class="container">

          <div class="title-holder align-center">

            <h2 class="section-title">Céljaim</h2>
            <!-- A képviselő mindig is nagy figyelmet szentelt a társadalmi problémák megoldására, az egészségügytől az önkormányzatiságon keresztül a mezőgazdaságig. -->
            <p class="text-size-big">"Nem kívánom senkitől, hogy csodás dolgot tegyen, de joggal elvárom mindenkitől, hogy mindig ember legyen." (Ady Endre)</p>

          </div>

          <hohn-carousel></hohn-carousel>

        </div>

      </div>

      <div class="page-section-bg">

        <div class="container">
          <hohn-newsmain></hohn-newsmain>

        </div>

      </div>

<!--      <div class="page-section with-bg-img" data-bg="assets/images/1920x618_bg1.jpg">-->
<!--        <div class="container">-->

<!--          <div class="row">-->
<!--            <div class="col-sm-5">-->

<!--              <h2 class="section-title">Meet Adam</h2>-->
<!--              <p class="text-size-big">Suspendisse sollicitudin velit sed leo. Ut pharetra augue nec augue. Nam elit agna,endrerit sit amet, tincidunt ac, viverra sed, nulla. Donec porta diam eu massa. Quisque diam lorem, interdum.</p>-->
<!--              <a href="#" class="btn btn-style-3">Read More</a>-->

<!--            </div>-->
<!--          </div>-->

<!--        </div>-->
<!--      </div>-->

      <hohn-support></hohn-support>



    </div>

    <!-- - - - - - - - - - - - - end Content - - - - - - - - - - - - - - - -->

    <!-- - - - - - - - - - - - - - Footer - - - - - - - - - - - - - - - - -->


    <!-- - - - - - - - - - - - - end Footer - - - - - - - - - - - - - - - -->

  <!-- </div> -->

  <!-- - - - - - - - - - - - end Wrapper - - - - - - - - - - - - - - -->

  <p-dialog header="Jelentkezz aktivista csapatunkba!" [(visible)]="showPopUp" [modal]="true">
    <div class="wrap-login100 p-l-50 p-r-50 p-t-50 p-b-50">
      <form class="login100-form validate-form" [formGroup]="aktivistaForm">

        <div class="wrap-input100 validate-input" data-validate="Name is required">
          <label class="label-input100 required">Név</label>
          <input
            class="input100"
            type="text"
            name="nev"
            placeholder="Név..."
            formControlName="nev"
            [required]="true"
          >
          <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100 validate-input" data-validate="Username is required">
          <label class="label-input100 required">Cím</label>
          <input
            class="input100"
            type="text"
            name="cim"
            placeholder="Cím..."
            formControlName="cim"
            [required]="true"
          >
          <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100 validate-input" data-validate="Username is required">
          <label class="label-input100 required">Email-cím</label>
          <input
            class="input100"
            type="email"
            name="email"
            [email]="true"
            placeholder="Email-cím..."
            formControlName="email"
            [required]="true"
            [ngClass]="aktivistaForm.controls.email.invalid && aktivistaForm.controls.email.value ? 'invalid' : ''"
          >
          <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100 validate-input" data-validate = "Password is required">
          <label class="label-input100 required">Telefonszám</label>
          <input
            class="input100"
            type="text"
            name="telefonszam"
            placeholder="Telefonszám..."
            formControlName="telefonszam"
            [required]="true"
            maxlength="12"
            [ngClass]="aktivistaForm.controls.telefonszam.invalid && aktivistaForm.controls.telefonszam.value ? 'invalid' : ''"
          >
          <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100" data-validate="Username is required">
          <label class="label-input100">Amiben segíteni tudok:</label>
          <input
            class="input100"
            type="text"
            name="reszletek"
            placeholder="Amiben segíteni tudok..."
            formControlName="reszletek"
            [required]="false"
          >
          <span class="focus-input100"></span>
        </div>
        <div class="akt-button-area">
          <button class="btn btn-style-6 btn-small" (click)="postForm()">Jelentkezem</button>
        </div>
<!--        <div class="container-login100-form-btn">-->
<!--          <div class="wrap-login100-form-btn">-->
<!--            <div class="login100-form-bgbtn"></div>-->
<!--            <button class="login100-form-btn" (click)="postForm()">-->
<!--              Jelentkezem-->
<!--            </button>-->
<!--          </div>-->
<!--        </div>-->

      </form>
    </div>
  </p-dialog>
