
  <!-- <div class="loader"></div> -->

  <!--cookie-->
  <!-- <div class="cookie">
          <div class="container">
            <div class="clearfix">
              <span>Please note this website requires cookies in order to function correctly, they do not store any specific information about you personally.</span>
              <div class="f-right"><a href="#" class="button button-type-3 button-orange">Accept Cookies</a><a href="#" class="button button-type-3 button-grey-light">Read More</a></div>
            </div>
          </div>
        </div>-->

  <!-- - - - - - - - - - - - - - Wrapper - - - - - - - - - - - - - - - - -->

  <!-- <div id="wrapper" class="wrapper-container"> -->

    <!-- - - - - - - - - - - - - Mobile Menu - - - - - - - - - - - - - - -->

    <!-- <nav id="mobile-advanced" class="mobile-advanced"></nav> -->

    <!-- - - - - - - - - - - - - - Header - - - - - - - - - - - - - - - - -->



    <!-- - - - - - - - - - - - - end Header - - - - - - - - - - - - - - - -->
    <div class="media-holder full-src hohnimg" *ngIf="tokenService.loaded">

      <div class="media-inner left-side intro">

        <h1>
          Szeretettel köszöntöm<br> honlapomon!
<!--          Together, We Will Move-->
<!--          <br>-->
<!--          <span>Texas Forward!</span>-->
        </h1>
        <br />
<!--        <p>Become a part of our team, sign up for updates.</p>-->
        <p style="text-align: left">" Legnagyobb cél pedig, itt, e földi létben,<br>
          Ember lenni mindég, minden körülményben. "</p>
        <p style="text-align: left">Arany János</p>

<!--        <div class="join-us">-->
<!--          <p>Hírlevél</p>-->
<!--          <form class="join-form">-->
<!--            <button type="submit" class="btn btn-style-4 btn-big f-right" data-type="submit">Feliratkozom</button>-->
<!--            <div class="input-holder">-->
<!--              <input type="email" name="newsletter-email" placeholder="Email cím">-->
<!--              <input type="text" placeholder="Irányítószám">-->
<!--            </div>-->
<!--          </form>-->

<!--        </div>-->

      </div>

    </div>

    <!-- - - - - - - - - - - - - - Content - - - - - - - - - - - - - - - - -->

    <div id="content" *ngIf="tokenService.loaded">

      <!-- actions -->

      <hohn-action></hohn-action>

      <div class="page-section">

        <div class="container">

          <div class="title-holder align-center">

            <h2 class="section-title">Céljaim</h2>
            <p class="text-size-big">A képviselő mindig is nagy figyelmet szentelt a társadalmi problémák megoldására, az egészségügytől az önkormányzatiságon keresztül a mezőgazdaságig.</p>

          </div>

          <hohn-carousel></hohn-carousel>

        </div>

      </div>

      <div class="page-section-bg">

        <div class="container">
          <hohn-newsmain></hohn-newsmain>

        </div>

      </div>

<!--      <div class="page-section with-bg-img" data-bg="assets/images/1920x618_bg1.jpg">-->
<!--        <div class="container">-->

<!--          <div class="row">-->
<!--            <div class="col-sm-5">-->

<!--              <h2 class="section-title">Meet Adam</h2>-->
<!--              <p class="text-size-big">Suspendisse sollicitudin velit sed leo. Ut pharetra augue nec augue. Nam elit agna,endrerit sit amet, tincidunt ac, viverra sed, nulla. Donec porta diam eu massa. Quisque diam lorem, interdum.</p>-->
<!--              <a href="#" class="btn btn-style-3">Read More</a>-->

<!--            </div>-->
<!--          </div>-->

<!--        </div>-->
<!--      </div>-->

      <div class="page-section">
        <div class="container">

          <h2 class="section-title align-center">Ezért támogatom Hohn Krisztinát</h2>

          <!-- - - - - - - - - - - - - Owl-Carousel - - - - - - - - - - - - - - - -->

          <div class="carousel-type-1">

            <div class="owl-carousel content-element2" data-max-items="1" data-autoplay="true">

              <!-- Slide -->
              <div class="item-carousel">
                <!-- Carousel Item -->
                <!-- - - - - - - - - - - - - - Testimonial - - - - - - - - - - - - - - - - -->
                <div class="testimonial testimonial-single">

                  <div class="author-box">

                    <a href="#" class="avatar">
                      <img src="assets/images/263x263_photo1.jpg" alt="">
                    </a>

                  </div>

                  <div class="testimonial-holder">

                    <blockquote>
                      <p>Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus.</p>
                    </blockquote>

                    <div class="author-info">

                      <h6 class="author-name">Kovács Anita</h6>
                      <span class="author-position">Fogorvos</span>

                    </div>

                  </div>

                </div>
                <!-- /Carousel Item -->
              </div>
              <!-- /Slide -->

              <!-- Slide -->
              <div class="item-carousel">
                <!-- Carousel Item -->
                <!-- - - - - - - - - - - - - - Testimonial - - - - - - - - - - - - - - - - -->
                <div class="testimonial testimonial-single">

                  <div class="author-box">

                    <a href="#" class="avatar">
                      <img src="assets/images/263x263_photo3.jpg" alt="">
                    </a>

                  </div>

                  <div class="testimonial-holder">

                    <blockquote>
                      <p>Dauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus.</p>
                    </blockquote>

                    <div class="author-info">

                      <h6 class="author-name">Kalmár András</h6>
                      <span class="author-position">Fiókvezető helyettes</span>

                    </div>

                  </div>

                </div>
                <!-- /Carousel Item -->
              </div>
              <!-- /Slide -->

            </div>

            <div class="align-center">
              <a href="#" class="btn">Mondja el Ön is véleményét</a>
            </div>

          </div>

        </div>
      </div>



    </div>

    <!-- - - - - - - - - - - - - end Content - - - - - - - - - - - - - - - -->

    <!-- - - - - - - - - - - - - - Footer - - - - - - - - - - - - - - - - -->


    <!-- - - - - - - - - - - - - end Footer - - - - - - - - - - - - - - - -->

  <!-- </div> -->

  <!-- - - - - - - - - - - - end Wrapper - - - - - - - - - - - - - - -->
