
  <!-- <div class="loader"></div> -->

  <!--cookie-->
  <!-- <div class="cookie">
          <div class="container">
            <div class="clearfix">
              <span>Please note this website requires cookies in order to function correctly, they do not store any specific information about you personally.</span>
              <div class="f-right"><a href="#" class="button button-type-3 button-orange">Accept Cookies</a><a href="#" class="button button-type-3 button-grey-light">Read More</a></div>
            </div>
          </div>
        </div>-->

  <!-- - - - - - - - - - - - - - Wrapper - - - - - - - - - - - - - - - - -->

  <!-- <div id="wrapper" class="wrapper-container"> -->

    <!-- - - - - - - - - - - - - Mobile Menu - - - - - - - - - - - - - - -->

    <!-- <nav id="mobile-advanced" class="mobile-advanced"></nav> -->

    <!-- - - - - - - - - - - - - - Header - - - - - - - - - - - - - - - - -->

  

    <!-- - - - - - - - - - - - - end Header - - - - - - - - - - - - - - - -->

    <div class="media-holder full-src" data-bg="assets/images/1920x1050_bg1.png">
      
      <div class="media-inner left-side">
          
        <h1>Together, We Will Move <br>
        <span>Texas Forward!</span></h1>

        <p>Become a part of our team, sign up for updates.</p>

        <div class="join-us">
      
          <form class="join-form">
            <button type="submit" class="btn btn-style-4 btn-big f-right" data-type="submit">Sign Up</button>
            <div class="input-holder">
              <input type="email" name="newsletter-email" placeholder="Email address">
              <input type="text" placeholder="Zip code">
            </div>
          </form>

        </div>

      </div>

    </div>

    <!-- - - - - - - - - - - - - - Content - - - - - - - - - - - - - - - - -->

    <div id="content">

      <!-- actions -->

      <div class="action-widget action-col-4 pull-top">
        
        <div class="container">
          
          <!-- action-item -->

          <div class="action-col">
            
            <a href="#" class="action-item register">
              <i class="icon icon-basic-todo-txt"></i>
              <h5 class="action-title">Register to vote</h5>
              <p>Submit your application</p>
            </a>
            
          </div>

          <!-- action-item -->

          <div class="action-col">
            
            <a href="#" class="action-item event">
              <i class="icon icon-basic-calendar"></i>
              <h5 class="action-title">Attend Events</h5>
              <p>Find events near you</p>
            </a>
            
          </div>

          <!-- action-item -->

          <div class="action-col">
            
            <a href="#" class="action-item get-involved">
              <i class="icon icon-ecommerce-megaphone"></i>
              <h5 class="action-title">Get Involved</h5>
              <p>Become a volunteer</p>
            </a>
            
          </div>

          <!-- action-item -->

          <div class="action-col">
            
            <a href="#" class="action-item donate">
              <i class="icon-ecommerce-banknotes"></i>
              <h5 class="action-title">Donate Today</h5>
              <p>Support our candidate</p>
            </a>
            
          </div>

        </div>

      </div>
      
      <div class="page-section">
        
        <div class="container">
          
          <div class="title-holder align-center">

            <h2 class="section-title">Adam's Priorities</h2>
            <p class="text-size-big">Vestibulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod  <br> consequat ante. Lorem ipsum dolor sit amet, consectetuer adipis. </p>

          </div>
          
          <div class="carousel-type-2">
            <div class="owl-carousel content-element2" data-max-items="4" data-item-margin="30">
              
              <!-- Carousel Item -->
              <div class="item-carousel">
                
                <div class="issue-item">
                  
                  <figure><a href="#"><img src="assets/images/263x180_img1.jpg" alt=""></a></figure>
                  <h5><a href="#">Balancing The Budget</a></h5>
                  <p>Suspendisse sollicitudin velit sed leo. Ut pharetra augue nec augue. Nam elit agna, endrerit sit amet, tincidunt ac, viverra sed, nulla.</p>
                  <a href="#" class="info-btn">Read More</a>

                </div>

              </div>

              <!-- Carousel Item -->
              <div class="item-carousel">
                
                <div class="issue-item">
                  
                  <figure><a href="#"><img src="assets/images/263x180_img2.jpg" alt=""></a></figure>
                  <h5><a href="#">Growing Our Economy</a></h5>
                  <p>Donec porta diam eu massa. Quisque diam lorem, interdum vitae, dapibus ac, scelerisque vitae, pede. Donec eget tellus non.</p>
                  <a href="#" class="info-btn">Read More</a>

                </div>

              </div>

              <!-- Carousel Item -->
              <div class="item-carousel">
                
                <div class="issue-item">
                  
                  <figure><a href="#"><img src="assets/images/263x180_img3.jpg" alt=""></a></figure>
                  <h5><a href="#">Creating Jobs</a></h5>
                  <p>Donec in velit vel ipsum auctor pulvinar. Vestibulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod consequat ante. </p>
                  <a href="#" class="info-btn">Read More</a>

                </div>

              </div>

              <!-- Carousel Item -->
              <div class="item-carousel">
                
                <div class="issue-item">
                  
                  <figure><a href="#"><img src="assets/images/263x180_img4.jpg" alt=""></a></figure>
                  <h5><a href="#">Protecting Medicare</a></h5>
                  <p>Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet sit amet, euismod.</p>
                  <a href="#" class="info-btn">Read More</a>

                </div>

              </div>

            </div>
            <div class="align-center">
              <a href="#" class="btn">See All Issues</a>
            </div>
          </div>

        </div>

      </div>

      <div class="page-section-bg">
        
        <div class="container">
          
          <h2 class="section-title align-center">News and Updates</h2>
          <div class="widget-holder">
            
            <div class="row flex-row">
              <div class="col-md-6">

                <article class="entry">

                  <!-- - - - - - - - - - - - - - Attachment - - - - - - - - - - - - - - - - -->

                  <div class="entry-attachment">

                    <figure class="thumbnail-attachment"><img src="assets/images/555x361_img1.jpg" alt=""></figure>

                  </div>

                  <!-- - - - - - - - - - - - - - End of Attachment - - - - - - - - - - - - - - - - -->

                  <!-- - - - - - - - - - - - - - Entry body - - - - - - - - - - - - - - - - -->

                  <div class="entry-body">

                    <h6>Latest News</h6>

                    <h4 class="entry-title"><a href="#">Nam Elit Agna, Endrerit Sit Amet, Tincidunt Ac, Viverra </a></h4>
                    
                    <!-- - - - - - - - - - - - - - Entry Meta - - - - - - - - - - - - - - - - -->

                    <div class="entry-meta">

                      <time class="entry-date" datetime="2018-03-25">March 25, 2018</time>

                    </div>

                    <!-- - - - - - - - - - - - - - End of Meta - - - - - - - - - - - - - - - - -->

                    <!-- - - - - - - - - - - - - - Entry Excerpt - - - - - - - - - - - - - - - - -->

                    <a href="#" class="info-btn">More News</a>

                    <!-- - - - - - - - - - - - - - End of Entry Excerpt - - - - - - - - - - - - - - - - -->

                  </div>

                  <!-- - - - - - - - - - - - - - End of Entry body - - - - - - - - - - - - - - - - -->

                </article>

              </div>
              <div class="col-md-3">
                
                <div class="widget-twitter one-tweet">

                  <header></header>
                  
                  <div id="twitter" class="twitter" data-twitter-items="1"></div>

                  <a href="#" class="info-btn">Follow Adam on Twitter</a>
                  
                </div>

              </div>
              <div class="col-md-3">
                
                <div class="widget-fb">

                  <header></header>
                  
                  <p>Donec porta diam eu massa. Quisque diam lorem, dapibus ac, scelerisque vitae, pede. Donec eget tellus non erat lacinia.</p>

                  <!-- - - - - - - - - - - - - - Entry Meta - - - - - - - - - - - - - - - - -->

                  <div class="entry-meta">

                    <time class="entry-date" datetime="2018-03-25">March 25, 2018</time>

                  </div>

                  <!-- - - - - - - - - - - - - - End of Meta - - - - - - - - - - - - - - - - -->

                  <div class="slash-list">
                    <a href="#">See Post </a>
                    <a href="#">Share</a>
                  </div>

                  <a href="#" class="info-btn">Follow Adam on Facebook</a>
                  
                </div>

              </div>  
            </div>
            <div class="row flex-row">
              <div class="col-md-4">
                
                <div class="widget-instagram">

                  <header></header>
                  
                  <div class="carousel-type-2 type-2">
                    <div id="instafeed" class="instagram-carousel"></div>
                  </div>

                  <a href="#" class="info-btn">Follow Adam on Instagram</a>

                </div>

              </div>
              <div class="col-md-4">
                
                <div class="widget-events">
                  
                  <h6 class="event-title">Upcoming events</h6>

                  <div class="event-item">
                    <div class="event-date">
                      <div class="event-month">AUG</div>
                      <div class="event-day">19</div>
                    </div>
                    <div class="event-info">
                      <h6 class="event-link"><a href="#">Sed Ut Perspiciatis Unde</a></h6>
                      <div class="event-info-item"><i class="icon icon-location"></i>340 W 50th St, New York</div>
                      <div class="event-info-item"><i class="icon icon-clock"></i>10:00 am – 11:00 am</div>
                    </div>
                  </div>

                  <div class="event-item">
                    <div class="event-date">
                      <div class="event-month">AUG</div>
                      <div class="event-day">23</div>
                    </div>
                    <div class="event-info">
                      <h6 class="event-link"><a href="#">Enim Ad Minima Veniam Quis Nostrum Exer</a></h6>
                      <div class="event-info-item"><i class="icon icon-location"></i>340 W 50th St, New York</div>
                      <div class="event-info-item"><i class="icon icon-clock"></i>10:00 am – 11:00 am</div>
                    </div>
                  </div>

                  <a href="#" class="info-btn">More Events</a>

                </div>

              </div>
              <div class="col-md-4">
                
                <div class="widget-youtube">
                  
                  <header></header>
                  
                  <div class="responsive-iframe">
                        
                    <iframe src="https://www.youtube.com/embed/n9BsWhjX1Fw?rel=0&amp;showinfo=0&amp;autohide=2&amp;controls=0&amp;playlist=J2Y_ld0KL-4&amp;enablejsapi=1"></iframe>

                  </div>

                  <a href="#" class="info-btn">View All Videos</a>

                </div>

              </div>
            </div>

          </div>

        </div>

      </div>

      <div class="page-section with-bg-img" data-bg="assets/images/1920x618_bg1.jpg">
        <div class="container">
          
          <div class="row">
            <div class="col-sm-5">
              
              <h2 class="section-title">Meet Adam</h2>
              <p class="text-size-big">Suspendisse sollicitudin velit sed leo. Ut pharetra augue nec augue. Nam elit agna,endrerit sit amet, tincidunt ac, viverra sed, nulla. Donec porta diam eu massa. Quisque diam lorem, interdum.</p>
              <a href="#" class="btn btn-style-3">Read More</a>

            </div>
          </div>

        </div>
      </div>

      <div class="page-section">
        <div class="container">

          <h2 class="section-title align-center">Why We Support Adam</h2>
          
          <!-- - - - - - - - - - - - - Owl-Carousel - - - - - - - - - - - - - - - -->

          <div class="carousel-type-1">

            <div class="owl-carousel content-element2" data-max-items="1" data-autoplay="true">

              <!-- Slide -->                  
              <div class="item-carousel">
                <!-- Carousel Item -->                  
                <!-- - - - - - - - - - - - - - Testimonial - - - - - - - - - - - - - - - - -->
                <div class="testimonial testimonial-single">

                  <div class="author-box">

                    <a href="#" class="avatar">
                      <img src="assets/images/263x263_photo1.jpg" alt="">
                    </a>

                  </div>
                  
                  <div class="testimonial-holder">

                    <blockquote>
                      <p>Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus.</p>
                    </blockquote>

                    <div class="author-info">

                      <h6 class="author-name">Marta Healy</h6>
                      <span class="author-position">Congresswoman</span>

                    </div>

                  </div>

                </div>
                <!-- /Carousel Item --> 
              </div>
              <!-- /Slide -->

              <!-- Slide -->                  
              <div class="item-carousel">
                <!-- Carousel Item -->                  
                <!-- - - - - - - - - - - - - - Testimonial - - - - - - - - - - - - - - - - -->
                <div class="testimonial testimonial-single">

                  <div class="author-box">

                    <a href="#" class="avatar">
                      <img src="assets/images/263x263_photo1.jpg" alt="">
                    </a>

                  </div>
                  
                  <div class="testimonial-holder">

                    <blockquote>
                      <p>Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus.</p>
                    </blockquote>

                    <div class="author-info">

                      <h6 class="author-name">Marta Healy</h6>
                      <span class="author-position">Congresswoman</span>

                    </div>

                  </div>

                </div>
                <!-- /Carousel Item --> 
              </div>
              <!-- /Slide -->

              <!-- Slide -->                  
              <div class="item-carousel">
                <!-- Carousel Item -->                  
                <!-- - - - - - - - - - - - - - Testimonial - - - - - - - - - - - - - - - - -->
                <div class="testimonial testimonial-single">

                  <div class="author-box">

                    <a href="#" class="avatar">
                      <img src="assets/images/263x263_photo1.jpg" alt="">
                    </a>

                  </div>
                  
                  <div class="testimonial-holder">

                    <blockquote>
                      <p>Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus.</p>
                    </blockquote>

                    <div class="author-info">

                      <h6 class="author-name">Marta Healy</h6>
                      <span class="author-position">Congresswoman</span>

                    </div>

                  </div>

                </div>
                <!-- /Carousel Item --> 
              </div>
              <!-- /Slide -->

            </div>

            <div class="align-center">
              <a href="#" class="btn">Tell Us Why You Support Adam</a>
            </div>

          </div>

        </div>
      </div>

      <div class="page-section-bg">
        <div class="container">

          <h2 class="section-title align-center">Featured Products</h2>
          
          <!-- - - - - - - - - - - - - Owl-Carousel - - - - - - - - - - - - - - - -->

          <div class="carousel-type-2">

            <div class="owl-carousel content-element2" data-max-items="4" data-item-margin="30">

              <!-- Slide -->                  
              <div class="item-carousel">
                <!-- Carousel Item -->                  
                <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->
                <div class="product">
                        
                  <!-- - - - - - - - - - - - - - Product Image - - - - - - - - - - - - - - - - -->
                  <div class="product-image">
                    <a href="#"><img src="assets/images/263x263_img1.jpg" alt=""></a>
                    <div class="overlay">
                      <div class="overlay-inner">
                        <a href="#" class="btn btn-style-6 btn-small">Add To Cart</a>
                      </div>
                    </div>
                  </div>
                  <!-- - - - - - - - - - - - - - End of Product Image - - - - - - - - - - - - - - - - -->

                  <!-- - - - - - - - - - - - - - Product Description - - - - - - - - - - - - - - - - -->
                  <div class="product-description">

                    <h5 class="product-name"><a href="#">Cotton Tote Bag White</a></h5>

                    <div class="product-price new-price">$35.00</div>

                  </div>
                  <!-- - - - - - - - - - - - - - End of Product Description - - - - - - - - - - - - - - - - -->

                </div>
                <!-- /Carousel Item --> 
              </div>
              <!-- /Slide -->

              <!-- Slide -->                  
              <div class="item-carousel">
                <!-- Carousel Item -->                  
                <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->
                <div class="product">
                        
                  <!-- - - - - - - - - - - - - - Product Image - - - - - - - - - - - - - - - - -->
                  <div class="product-image">
                    <a href="#"><img src="assets/images/263x263_img2.jpg" alt=""></a>
                    <div class="overlay">
                      <div class="overlay-inner">
                        <a href="#" class="btn btn-style-6 btn-small">Add To Cart</a>
                      </div>
                    </div>
                  </div>
                  <!-- - - - - - - - - - - - - - End of Product Image - - - - - - - - - - - - - - - - -->

                  <!-- - - - - - - - - - - - - - Product Description - - - - - - - - - - - - - - - - -->
                  <div class="product-description">

                    <h5 class="product-name"><a href="#">Men’s T-shirt White</a></h5>

                    <div class="product-price new-price">$25.00</div>

                  </div>
                  <!-- - - - - - - - - - - - - - End of Product Description - - - - - - - - - - - - - - - - -->

                </div>
                <!-- /Carousel Item --> 
              </div>
              <!-- /Slide -->

              <!-- Slide -->                  
              <div class="item-carousel">
                <!-- Carousel Item -->                  
                <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->
                <div class="product">
                        
                  <!-- - - - - - - - - - - - - - Product Image - - - - - - - - - - - - - - - - -->
                  <div class="product-image">
                    <a href="#"><img src="assets/images/263x263_img3.jpg" alt=""></a>
                    <div class="overlay">
                      <div class="overlay-inner">
                        <a href="#" class="btn btn-style-6 btn-small">Add To Cart</a>
                      </div>
                    </div>
                  </div>
                  <!-- - - - - - - - - - - - - - End of Product Image - - - - - - - - - - - - - - - - -->

                  <!-- - - - - - - - - - - - - - Product Description - - - - - - - - - - - - - - - - -->
                  <div class="product-description">

                    <h5 class="product-name"><a href="#">Morning Mug White</a></h5>

                    <div class="product-price new-price">$30.00</div>

                  </div>
                  <!-- - - - - - - - - - - - - - End of Product Description - - - - - - - - - - - - - - - - -->

                </div>
                <!-- /Carousel Item --> 
              </div>
              <!-- /Slide -->

              <!-- Slide -->                  
              <div class="item-carousel">
                <!-- Carousel Item -->                  
                <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->
                <div class="product">
                        
                  <!-- - - - - - - - - - - - - - Product Image - - - - - - - - - - - - - - - - -->
                  <div class="product-image">
                    <a href="#"><img src="assets/images/263x263_img4.jpg" alt=""></a>
                    <div class="overlay">
                      <div class="overlay-inner">
                        <a href="#" class="btn btn-style-6 btn-small">Add To Cart</a>
                      </div>
                    </div>
                  </div>
                  <!-- - - - - - - - - - - - - - End of Product Image - - - - - - - - - - - - - - - - -->

                  <!-- - - - - - - - - - - - - - Product Description - - - - - - - - - - - - - - - - -->
                  <div class="product-description">

                    <h5 class="product-name"><a href="#">Baseball Cap Gray</a></h5>

                    <div class="product-price new-price">$15.00</div>

                  </div>
                  <!-- - - - - - - - - - - - - - End of Product Description - - - - - - - - - - - - - - - - -->

                </div>
                <!-- /Carousel Item --> 
              </div>
              <!-- /Slide -->

            </div>

            <div class="align-center">
              <a href="#" class="btn">More Products</a>
            </div>

          </div>

        </div>
      </div>

    </div>

    <!-- - - - - - - - - - - - - end Content - - - - - - - - - - - - - - - -->

    <!-- - - - - - - - - - - - - - Footer - - - - - - - - - - - - - - - - -->

    
    <!-- - - - - - - - - - - - - end Footer - - - - - - - - - - - - - - - -->

  <!-- </div> -->

  <!-- - - - - - - - - - - - end Wrapper - - - - - - - - - - - - - - -->
