<div id="content" *ngIf="tokenService.loaded">

  <!-- - - - - - - - - - - - - - Breadcrumbs - - - - - - - - - - - - - - - - -->

  <div class="breadcrumbs-wrap with-bg">

    <div class="container">
      <h1 class="page-title">{{news?.cim}}</h1>
      <ul class="breadcrumbs">

        <li><a routerLink="/">Főoldal</a></li>
        <li><a routerLink="/news">Hírek</a></li>
        <li>{{news?.cim}}</li>

      </ul>

    </div>

  </div>

  <!-- - - - - - - - - - - - - end Breadcrumbs - - - - - - - - - - - - - - - -->

  <div class="page-content-wrap">

    <div class="container">

      <div class="row">
        <main id="main" class="col-md-8 col-sm-12">

          <div class="event-item single-event">

<!--            <h4 class="event-link">{{news.cim}}</h4>-->
            <div class="entry-attachment">

              <div *ngIf="!!news?.videoUrl; else noVideo" class="responsive-iframe">
                <iframe [src]="getSafeUrl(news?.videoUrl)"></iframe>
              </div>
              <ng-template #noVideo><img [src]="getSafeUrl(news?.kepMainUrl)" alt=""></ng-template>

            </div>
            <div class="event-info">
              <div class="entry-meta">

                <time class="entry-date">{{getLocalDateString(news?.datum)}}</time>
                <ng-template [ngIf]="news?.szerzo === 'Hohn Krisztina' || news?.szerzo === 'Új Kezdet'" [ngIfElse]="noUrl">
                  <span *ngIf="news?.szerzo === 'Hohn Krisztina'" class="entry-byline">Szerző: <a routerLink="/about">{{news?.szerzo}}</a></span>
                  <span *ngIf="news?.szerzo === 'Új Kezdet'" class="entry-byline">Szerző: <a href="https://ujkezdet.hu" target="_blank">{{news?.szerzo}}</a></span>
                </ng-template>
                <ng-template #noUrl>
                  <span class="entry-byline">Szerző: {{news?.szerzo}}</span>
                </ng-template>
                <span class="entry-cat">Kategória: <a routerLink="/news/{{news?.kategoria}}">{{systemService.getNewsCategoryValue(news?.kategoria)}}</a></span>

              </div>
              <div [innerHTML]="news?.htmlContent"></div>
            </div>

          </div>

          <div class="content-element2">

            <div class="entries-nav">
              <div class="row">
                <div class="col-xs-6">
                  <div *ngIf="!!previousNews">
                    <a routerLink="/content/{{previousNews?.id}}" class="info-btn prev-btn">Előző hír</a>
                    <h6><a routerLink="/content/{{previousNews?.id}}"><b>{{previousNews?.cim}}</b></a></h6>
                  </div>
                </div>
                <div class="col-xs-6">

                  <div *ngIf="!!nextNews" class="align-right">
                    <a routerLink="/content/{{nextNews?.id}}" class="info-btn next-btn">Következő hír</a>
                    <h6><a routerLink="/content/{{nextNews?.id}}"><b>{{nextNews?.cim}}</b></a></h6>
                  </div>

                </div>
              </div>
            </div>

          </div>

        </main>
        <aside id="sidebar" class="col-md-4 col-sm-12">



          <!-- widget -->
          <div class="widget widget-holder">
            <hohn-calendar [events]="events"></hohn-calendar>
          </div>
          <!-- widget -->
          <hohn-facebook></hohn-facebook>

        </aside>
      </div>

    </div>

  </div>

</div>
