<ng-container [ngSwitch]="thing.name">
  <ng-template [ngSwitchCase]="'foo'">
    <div class="carousel-type-2">
      <div class="owl-carousel content-element2" data-max-items="4" data-item-margin="30">

        <!-- Carousel Item -->
        <div class="item-carousel">

          <div class="issue-item">

            <figure><a href="#"><img src="assets/images/263x180_img1.jpg" alt=""></a></figure>
            <h5><a href="#">Balancing The Budget</a></h5>
            <p>Suspendisse sollicitudin velit sed leo. Ut pharetra augue nec augue. Nam elit agna, endrerit sit amet, tincidunt ac, viverra sed, nulla.</p>
            <a href="#" class="info-btn">Read More</a>

          </div>

        </div>

        <!-- Carousel Item -->
        <div class="item-carousel">

          <div class="issue-item">

            <figure><a href="#"><img src="assets/images/263x180_img2.jpg" alt=""></a></figure>
            <h5><a href="#">Growing Our Economy</a></h5>
            <p>Donec porta diam eu massa. Quisque diam lorem, interdum vitae, dapibus ac, scelerisque vitae, pede. Donec eget tellus non.</p>
            <a href="#" class="info-btn">Read More</a>

          </div>

        </div>

        <!-- Carousel Item -->
        <div class="item-carousel">

          <div class="issue-item">

            <figure><a href="#"><img src="assets/images/263x180_img3.jpg" alt=""></a></figure>
            <h5><a href="#">Creating Jobs</a></h5>
            <p>Donec in velit vel ipsum auctor pulvinar. Vestibulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod consequat ante. </p>
            <a href="#" class="info-btn">Read More</a>

          </div>

        </div>

        <!-- Carousel Item -->
        <div class="item-carousel">

          <div class="issue-item">

            <figure><a href="#"><img src="assets/images/263x180_img4.jpg" alt=""></a></figure>
            <h5><a href="#">Protecting Medicare</a></h5>
            <p>Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet sit amet, euismod.</p>
            <a href="#" class="info-btn">Read More</a>

          </div>

        </div>

      </div>
      <div class="align-center">
        <a href="#" class="btn">See All Issues</a>
      </div>
    </div>
  </ng-template>
  <ng-template [ngSwitchCase]="'bar'">
    <h2 class="section-title align-center">Why We Support Adam</h2>

    <!-- - - - - - - - - - - - - Owl-Carousel - - - - - - - - - - - - - - - -->

    <div class="carousel-type-1">

      <div class="owl-carousel content-element2" data-max-items="1" data-autoplay="true">

        <!-- Slide -->
        <div class="item-carousel">
          <!-- Carousel Item -->
          <!-- - - - - - - - - - - - - - Testimonial - - - - - - - - - - - - - - - - -->
          <div class="testimonial testimonial-single">

            <div class="author-box">

              <a href="#" class="avatar">
                <img src="assets/images/263x263_photo1.jpg" alt="">
              </a>

            </div>

            <div class="testimonial-holder">

              <blockquote>
                <p>Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus.</p>
              </blockquote>

              <div class="author-info">

                <h6 class="author-name">Marta Healy</h6>
                <span class="author-position">Congresswoman</span>

              </div>

            </div>

          </div>
          <!-- /Carousel Item -->
        </div>
        <!-- /Slide -->

        <!-- Slide -->
        <div class="item-carousel">
          <!-- Carousel Item -->
          <!-- - - - - - - - - - - - - - Testimonial - - - - - - - - - - - - - - - - -->
          <div class="testimonial testimonial-single">

            <div class="author-box">

              <a href="#" class="avatar">
                <img src="assets/images/263x263_photo1.jpg" alt="">
              </a>

            </div>

            <div class="testimonial-holder">

              <blockquote>
                <p>Dauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus.</p>
              </blockquote>

              <div class="author-info">

                <h6 class="author-name">Marta Healy</h6>
                <span class="author-position">Congresswoman</span>

              </div>

            </div>

          </div>
          <!-- /Carousel Item -->
        </div>
        <!-- /Slide -->

        <!-- Slide -->
        <div class="item-carousel">
          <!-- Carousel Item -->
          <!-- - - - - - - - - - - - - - Testimonial - - - - - - - - - - - - - - - - -->
          <div class="testimonial testimonial-single">

            <div class="author-box">

              <a href="#" class="avatar">
                <img src="assets/images/263x263_photo1.jpg" alt="">
              </a>

            </div>

            <div class="testimonial-holder">

              <blockquote>
                <p>Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus.</p>
              </blockquote>

              <div class="author-info">

                <h6 class="author-name">Marta Healy</h6>
                <span class="author-position">Congresswoman</span>

              </div>

            </div>

          </div>
          <!-- /Carousel Item -->
        </div>
        <!-- /Slide -->

      </div>

      <div class="align-center">
        <a href="#" class="btn">Tell Us Why You Support Adam</a>
      </div>

    </div>
  </ng-template>
  <ng-template [ngSwitchCase]="'cat'">
    <h2 class="section-title align-center">Featured Products</h2>

    <!-- - - - - - - - - - - - - Owl-Carousel - - - - - - - - - - - - - - - -->

    <div class="carousel-type-2">

      <div class="owl-carousel content-element2" data-max-items="4" data-item-margin="30">

        <!-- Slide -->
        <div class="item-carousel">
          <!-- Carousel Item -->
          <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->
          <div class="product">

            <!-- - - - - - - - - - - - - - Product Image - - - - - - - - - - - - - - - - -->
            <div class="product-image">
              <a href="#"><img src="assets/images/263x263_img1.jpg" alt=""></a>
              <div class="overlay">
                <div class="overlay-inner">
                  <a href="#" class="btn btn-style-6 btn-small">Add To Cart</a>
                </div>
              </div>
            </div>
            <!-- - - - - - - - - - - - - - End of Product Image - - - - - - - - - - - - - - - - -->

            <!-- - - - - - - - - - - - - - Product Description - - - - - - - - - - - - - - - - -->
            <div class="product-description">

              <h5 class="product-name"><a href="#">Cotton Tote Bag White</a></h5>

              <div class="product-price new-price">$35.00</div>

            </div>
            <!-- - - - - - - - - - - - - - End of Product Description - - - - - - - - - - - - - - - - -->

          </div>
          <!-- /Carousel Item -->
        </div>
        <!-- /Slide -->

        <!-- Slide -->
        <div class="item-carousel">
          <!-- Carousel Item -->
          <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->
          <div class="product">

            <!-- - - - - - - - - - - - - - Product Image - - - - - - - - - - - - - - - - -->
            <div class="product-image">
              <a href="#"><img src="assets/images/263x263_img2.jpg" alt=""></a>
              <div class="overlay">
                <div class="overlay-inner">
                  <a href="#" class="btn btn-style-6 btn-small">Add To Cart</a>
                </div>
              </div>
            </div>
            <!-- - - - - - - - - - - - - - End of Product Image - - - - - - - - - - - - - - - - -->

            <!-- - - - - - - - - - - - - - Product Description - - - - - - - - - - - - - - - - -->
            <div class="product-description">

              <h5 class="product-name"><a href="#">Men’s T-shirt White</a></h5>

              <div class="product-price new-price">$25.00</div>

            </div>
            <!-- - - - - - - - - - - - - - End of Product Description - - - - - - - - - - - - - - - - -->

          </div>
          <!-- /Carousel Item -->
        </div>
        <!-- /Slide -->

        <!-- Slide -->
        <div class="item-carousel">
          <!-- Carousel Item -->
          <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->
          <div class="product">

            <!-- - - - - - - - - - - - - - Product Image - - - - - - - - - - - - - - - - -->
            <div class="product-image">
              <a href="#"><img src="assets/images/263x263_img3.jpg" alt=""></a>
              <div class="overlay">
                <div class="overlay-inner">
                  <a href="#" class="btn btn-style-6 btn-small">Add To Cart</a>
                </div>
              </div>
            </div>
            <!-- - - - - - - - - - - - - - End of Product Image - - - - - - - - - - - - - - - - -->

            <!-- - - - - - - - - - - - - - Product Description - - - - - - - - - - - - - - - - -->
            <div class="product-description">

              <h5 class="product-name"><a href="#">Morning Mug White</a></h5>

              <div class="product-price new-price">$30.00</div>

            </div>
            <!-- - - - - - - - - - - - - - End of Product Description - - - - - - - - - - - - - - - - -->

          </div>
          <!-- /Carousel Item -->
        </div>
        <!-- /Slide -->

        <!-- Slide -->
        <div class="item-carousel">
          <!-- Carousel Item -->
          <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->
          <div class="product">

            <!-- - - - - - - - - - - - - - Product Image - - - - - - - - - - - - - - - - -->
            <div class="product-image">
              <a href="#"><img src="assets/images/263x263_img4.jpg" alt=""></a>
              <div class="overlay">
                <div class="overlay-inner">
                  <a href="#" class="btn btn-style-6 btn-small">Add To Cart</a>
                </div>
              </div>
            </div>
            <!-- - - - - - - - - - - - - - End of Product Image - - - - - - - - - - - - - - - - -->

            <!-- - - - - - - - - - - - - - Product Description - - - - - - - - - - - - - - - - -->
            <div class="product-description">

              <h5 class="product-name"><a href="#">Baseball Cap Gray</a></h5>

              <div class="product-price new-price">$15.00</div>

            </div>
            <!-- - - - - - - - - - - - - - End of Product Description - - - - - - - - - - - - - - - - -->

          </div>
          <!-- /Carousel Item -->
        </div>
        <!-- /Slide -->

      </div>

      <div class="align-center">
        <a href="#" class="btn">More Products</a>
      </div>

    </div>
  </ng-template>¯
</ng-container>
